[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
tqdm = "*"
requests = "*"
scikit-learn = "*"
xgboost = "*"
flask = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
